@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    font-family:'Karla',sans-serif;
    background-color:#16103b;
    text-shadow: 0 0 .51rem #654CF9;
    
}
body {
    min-height:1000px;
    display:flex;
    flex-direction:column;
    background-color:#16103b;
    color:#cec6f9;
}
.headerBar{
    color:white;
    text-align:center;
    padding:20px;
    margin-bottom: 1rem;
    box-shadow: 0 0 1rem #654CF9;
    text-shadow: 0 0 .51rem #654CF9;
}
.title{
    margin-bottom:20px;
    color:white;
}
.topbar{
    margin-bottom:10px;
}
.currency{
    font-size: 30px;
    font-weight:300;
}
.balance{
    font-size:30px;
    font-weight:300;
}
.content{
    position: relative;
    width: 580px;
    margin: 0 auto;
    padding: 3%;
    padding-left:6%;
    border-radius: .3rem;
    /* border:.41rem solid #654CF9; */
    background-color: #16103b;
    box-shadow: 0 0 .61rem #654CF9;
}
.secondTitle{
    position: relative;
    background-color: #654CF9;
    color:#cec6f9;
    text-align:center;
    margin-top:100px;
    width:100%;
    max-width: 100%;
    padding:20px;
    font-size:25px;
    bottom:7.8rem;
    top: -7.5rem;
    left:-2.4rem;
    box-shadow: 0 .1rem 1rem .1rem #654CF9;
    border-radius:.2rem;
    

}
.form{
    padding:5px;
    padding-top:20px;
    justify-content:center;
    background-color:#16103b;

    
    
}
.formLine{
    display:inline-flex;
    padding:5px 0px;
    font-size: larger;
    font-weight: 600;


}
.left{
    padding-left:1rem;
    float:left;
}
.right{
    float:right;
    margin-right:100px;
}
input,
select{
    background-color: #16103b;
    width:130px;
    margin-left:10px;
    color: aliceblue;
    font-weight: 400;
}
/*Table style*/
table{
    
    background-color: #cec6f9;
    width:100%;
    font-weight: 400;
    border-radius:.35rem;
    box-shadow: 0 0 8px #cec6f9;
}
thead{
    color:white;
    line-height:30px;
}
tbody{
    background-color:#16103b;
    line-height:30px;
    text-align:center;
    
    
}
th,td{
    background-color: #654CF9;
}
.deleteButton{
    background-color: #654CF9;
}
button{
    width:200px;
    color:white;
    padding:10px;
    text-align:center;
    font-size:1.1rem;
    line-height:20px;
    background-color:#654CF9;
    border-radius:5px;
    margin:14px 25px;
    cursor:pointer;
    border: none;
    box-shadow:0 0 .41rem #cec6f9;
}
button:hover{
    box-shadow:0 0 0 5px #16103b53;
    background-color:#cec6f9;
    color:#654CF9;
    font-weight:700;
    
    
}
a{
    text-decoration:underline;
    cursor:pointer;
}
